<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui" template="default.xhtml">

    <ui:define name="body">

        <h:form id="form">
            <p:panel id="panelNovo" header="#{cadastrarImovelBean.tituloHeader}">
                <h:panelGrid columns="2" cellpadding="8">

                    <h:outputLabel for="nome" value="Nome"></h:outputLabel>
                    <p:inputText required="true" id="nome" value="#{cadastrarImovelBean.imovel.nome}" label="Nome"></p:inputText>

                    <h:outputLabel for="descricao" value="Descrição"></h:outputLabel>
                    <p:inputText required="true" id="descricao" value="#{cadastrarImovelBean.imovel.descricao}" label="Descrição"></p:inputText>

                    <h:outputLabel for="localizacao" value="Localização"></h:outputLabel>
                    <p:inputText required="true" id="localizacao" value="#{cadastrarImovelBean.imovel.localizacao}" label="Localização"></p:inputText>

                    <h:outputLabel for="valor" value="Valor"></h:outputLabel>
                    <p:inputMask mask="999.99" required="true" id="valor" value="#{cadastrarImovelBean.imovel.valor}" label="Valor"></p:inputMask>  

                    <p:commandButton style="background: #19a53d;color: white;border-radius: 8px" value="GRAVAR" action="#{cadastrarImovelBean.salvar()}" update="message" >
                        <p:confirm header="ATENÇÃO!" message="Gravar imóvel?" />
                    </p:commandButton>

                </h:panelGrid>
                <p:growl id="message" showDetail="true" />

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton update="form" value="Sim" type="button" styleClass="ui-confirmdialog-yes" />
                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" />
                </p:confirmDialog> 
            </p:panel>     
        </h:form>

    </ui:define>
</ui:decorate>