<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Projeto Crud</title>
    </h:head>
    <h:body style="background-color: #f5f4f4">
        <p:menubar>
            <p:menuitem value="Início" url="index.jsf"></p:menuitem>
            <p:menuitem rendered="#{loginBean.logado == true}" value="Imóveis" url="listar_imovel.jsf"></p:menuitem>
            <p:menuitem value="Simulação" url="simulacao.jsf"></p:menuitem>
            <p:menuitem rendered="#{loginBean.logado == false}" value="Administrador" url="login.jsf"></p:menuitem>
        </p:menubar>
        <style type="text/css">
            .ui-widget-header {
                background:#3C6973;
                border: none;
            }

            .ui-widget-content {
                color: #131212;
            }
        </style>
        <div class="ui-grid ui-grid-responsive">
            <ui:insert name="body"></ui:insert>
        </div>
    </h:body>
</html>