<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui" template="default.xhtml">

    <ui:define name="body">

        <p:dataGrid value="#{indexBean.imoveis}" var="imovel" rendered="#{indexBean.imoveis.size()>0}">
            <p:growl  showDetail="true" />
            <p:panel header="#{imovel.nome}"  style="margin-bottom:20px">
                <h:panelGrid columns="2" cellpadding="10" >
                    <p:graphicImage library="images" style="width: 180px;height: 160px;border-radius: 15px" name="#{imovel.caminhoImagem}" />
                    <h:outputText value="#{imovel.descricao}" />
                    <h:outputText/>
                    <p:commandButton style="background: #313131; color: white" value="R$#{imovel.valor}" />
                </h:panelGrid>

                <h:form id="form">     
                    <p:panel id="panel" header="SEUS DADOS" >
                        <h:panelGrid columns="2" cellpadding="8">
                            <h:outputLabel for="nome" value="Nome"></h:outputLabel>
                            <p:inputText required="true" id="nome" value="#{indexBean.comprador.nome}" label="Nome"></p:inputText>

                            <h:outputLabel for="email" value="E-mail"></h:outputLabel>
                            <p:inputText validatorMessage="E-mail no formato inválido!" required="true" id="email" value="#{indexBean.comprador.email}" label="E-mail">
                                <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9A-]+)*(\.[Za-z]{2,})$"/>
                            </p:inputText>

                            <h:outputLabel for="cpf" value="CPF"></h:outputLabel>
                            <p:inputMask required="true" id="cpf" mask="999.999.999-99" value="#{indexBean.comprador.cpf}" label="Cpf"></p:inputMask> 

                            <h:outputLabel for="nascimento" value="Data Nascimento"></h:outputLabel>
                            <p:inputMask mask="99/99/9999" required="true" id="nascimento" value="#{indexBean.comprador.dataNascimento}" label="Data Nascimento"></p:inputMask>

                            <h:outputLabel for="civil" value="Estado Civil"></h:outputLabel>
                            <p:selectOneMenu id="civil" value="#{indexBean.comprador.estadoCivil}">
                                <f:selectItem itemLabel="Solteiro" itemValue="Solteiro" />
                                <f:selectItem itemLabel="Casado" itemValue="Casado" />
                                <f:selectItem itemLabel="Divorcidado" itemValue="Divorcidado" />
                                <f:selectItem itemLabel="Viúvo" itemValue="Viúvo" />
                            </p:selectOneMenu>

                            <h:outputLabel for="renda" value="Renda"></h:outputLabel>
                            <p:inputMask required="true" id="renda" mask="9999.99" value="#{indexBean.comprador.renda}" label="Renda"></p:inputMask>  

                            <p:commandButton style="background: #19a53d;color: white;border-radius: 8px" value="SIMULAÇÃO" action="#{indexBean.realizarSimulacao(imovel)}" update="@form"/>
                        </h:panelGrid>

                        <p:growl id="growl" showDetail="true" sticky="true" />
                    </p:panel>
                </h:form>
            </p:panel>
        </p:dataGrid> 

    </ui:define>
</ui:decorate>