<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui" template="default.xhtml">

    <ui:define name="body">
        <h:form id="form">
            <p:panel id="panelVisualizar" header="IMÓVEIS | VISUALIZAR" >
                <p:dataTable value="#{listarImovelBean.imoveis}" var="imovel">

                    <p:column headerText="NOME">
                        <h:outputText value="#{imovel.nome}" />
                    </p:column>

                    <p:column headerText="LOCALIZAÇÃO">
                        <h:outputText value="#{imovel.localizacao}" />
                    </p:column>

                    <p:column headerText="VALOR">
                        <h:outputText value="#{imovel.valor}"/>
                    </p:column>

                    <p:column headerText="AÇÕES">
                        <p:commandButton style="background: #19a53d;color: white;border-radius: 8px" action="#{listarImovelBean.excluir(imovel)}" value="APAGAR" update="form" />
                        <p:commandButton style="background: #19a53d;color: white;border-radius: 8px" action="#{cadastrarImovelBean.alterar(imovel)}" value="ATUALIZAR" update="form" />
                    </p:column>

                </p:dataTable> 
            </p:panel>    
        </h:form>

        <p:panelGrid columns="3">
            <p:linkButton style="background: #313131;color: white;border-radius: 8px;margin-right:20px;" outcome="cadastrar_imovel" value="CADASTRAR" />
            <h:form id="formRelatorio">
                <p:growl id="growl" showDetail="true" sticky="true" /> 
                <p:commandButton style="background: #313131;color: white;border-radius: 8px" value="GERAR RELATÓRIO" action="#{listarImovelBean.gerarRelatorio()}" ajax="false" update="formRelatorio" />    
            </h:form>
        </p:panelGrid>

    </ui:define>
</ui:decorate>