<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui" template="default.xhtml">

    <ui:define name="body">
        <h:form id="form">     
            <p:panel id="panel" header="FAÇA SEU LOGIN">
                <h:panelGrid columns="3" cellpadding="8">
                    <h:outputLabel for="login" value="Login"></h:outputLabel>
                    <p:inputText required="true" id="login" value="#{loginBean.login.nome}" label="Login"></p:inputText>
                    <h:outputText value=""/>
                    
                    <h:outputLabel for="senha" value="Senha"></h:outputLabel>
                    <p:password required="true" id="senha" value="#{loginBean.login.senha}" label="Senha" title="Senha no código"/>
                    <p:tooltip for="senha" showEvent="focus" hideEvent="blur" />
                    
                    <p:commandButton style="background: #19a53d;color: white;border-radius: 8px" value="LOGAR" action="#{loginBean.logar()}" update="@form">
                    </p:commandButton>
                </h:panelGrid>
                <p:growl id="growl" showDetail="true" sticky="true" />
            </p:panel>
        </h:form>
    </ui:define>
</ui:decorate>