<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui" template="default.xhtml">

    <ui:define name="body">
        <h:form id="form">     
            <p:panel id="panel" header="ACOMPANHE O RESULTADO DA SUA SIMULAÇÃO">
                <p:panelGrid columns="2">
                    <h:outputLabel for="cpf" value="CPF"></h:outputLabel>
                    <p:inputMask required="true" id="cpf" mask="999.999.999-99" value="#{simulacaoBean.comprador.cpf}" label="Cpf"></p:inputMask> 

                    <h:outputLabel for="nascimento" value="Dt.Nascimento"></h:outputLabel>
                    <p:inputMask mask="99/99/9999" required="true" id="nascimento" value="#{simulacaoBean.comprador.dataNascimento}" label="Dt.Nascimento"></p:inputMask>

                    <p:commandButton style="background: #19a53d;color: white;border-radius: 8px" value="VER RESULTADO" action="#{simulacaoBean.visualizarResultado()}" update="@form" />
                </p:panelGrid>
                <p:growl id="growl" showDetail="true" sticky="true" />
            </p:panel>
            <p:dataTable value="#{simulacaoBean.simulacao}" var="s" rendered="#{simulacaoBean.encontrado == true}" >
                
                <p:column headerText="NOME">
                    <h:outputText value="#{s.comprador.nome}" />
                </p:column>

                <p:column headerText="CPF">
                    <h:outputText value="#{s.comprador.cpf}" />
                </p:column>

                <p:column headerText="IMÓVEL">
                    <h:outputText value="#{s.imovel.nome}" />
                </p:column>

                <p:column headerText="STATUS">
                    <h:outputText value="#{s.status}"/>
                </p:column>

                <p:column headerText="MENSAGEM">
                    <h:outputText value="#{s.mensagem}" />
                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>
</ui:decorate>